/* overall profile card */
.ProfileCard {
  width: 1200px;
  height: 600px;
  display: center;
  /* background-color: rgb(116, 238, 238); */
  background: linear-gradient(to left, #3178d6, #3a67e6);
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgb(237, 237, 241);
  text-align: center;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  padding: auto;
  margin: 60px;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}
/* upper rectangular box */
.photograph-part {
  height: 300px;
  background: linear-gradient(to left, #2566bb, #0c1c49);
  margin-bottom: 20px;
}
.image-container {
  padding-right: 200px;
}
/* circular photo containing part  */
.image-container img {
  background: rgb(13, 214, 221);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(96px, 49px);
  margin-left: 10px;
}
img {
  border: 4px solid rgba(2, 19, 167, 0.609);
  margin-left: 80px;
}

.description-part {
  padding-bottom: 100px;
  height: 200px;
  margin-top: 100px;
  display: inline;
  text-align: center;
  justify-content: space-around;
  font: 500;
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

div.description-part {
  color: #dae0e9;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
}

/* titles */
.description-part h1 {
  color: #3de7e7;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-style: normal;
  font: bolder;
  font-weight: bold;
}
