/* overall profile card */
.ProfileCard {
	width: 800px;
	height: 600px;
	display: center;
	/* background-color: rgb(116, 238, 238); */
	background: linear-gradient(to left, #3178d6, #3a67e6);
	border-radius: 10px;
	box-shadow: 0px 10px 10px 0px rgb(237, 237, 241);
	text-align: center;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
	padding: auto;
	margin: 60px;
	margin-left: 350px;
	margin-right: 400px;
	position: relative;
}
/* upper rectangular box */
.photograph-part {
	height: 200px;
	background: linear-gradient(to left, #2566bb, #0c1c49);
	margin-bottom: 20px;
}
.image-container {
	padding-right: 800px;
	padding-left: 200px;
}
/* circular photo containing part  */
.image-container img {
	background: rgb(13, 214, 221);
	height: 200px;
	width: 200px;
	border-radius: 50%;
	padding: 5px;
	transform: translate(96px, 49px);
	margin-left: 0px;
}
img {
	border: 4px solid rgba(2, 19, 167, 0.609);
	margin-left: 100px;
}

.description-part {
	padding-top: 100px;
	padding-bottom: 200px;
	height: 1000px;
	margin-top: 260px;
	display: inline;
	text-align: center;
	justify-content: space-around;
	font: 1000;
	font-style: oblique;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	/* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
	/* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}
div.description-part {
	color: #dae0e9;
	font-size: 50px;
	font-weight: bold;
	font-style: normal;
	padding-top: 50px;
}
/* about  */
.description-part p {
	color: #3de7e7;
	font-size: 50px;
}

/* titles */
.description-part h1 {
	color: #3de7e7;
	margin: 0px;
	padding: 0px;
	font-size: 50px;
	font-style: normal;
	font: bolder;
	font-weight: bold;
	padding-top: 60px;
}

/* descriptions */
.description-part h3 {
	color: #f0ede6;
	font-style: normal;
	font-size: 30px;
	font-style: normal;
	font: bolder;
}

/* name short form */
.description-part h2 {
	color: #3de7e7;
	font-family: cursive;
	font-size: 30px;
	font-style: normal;
	font: bolder;
}

.btn {
	background: #150888;
	background-image: -webkit-linear-gradient(top, #1b4070, #0c1c49);
	background-image: -moz-linear-gradient(top, #1b4070, #0c1c49);
	background-image: -ms-linear-gradient(top, #1b4070, #0c1c49);
	background-image: -o-linear-gradient(top, #1b4070, #0c1c49);
	background-image: linear-gradient(to bottom, #2566bb, #0c1c49);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	/* -webkit-box-shadow: 2px 3px 0px #f542bc;
  -moz-box-shadow: 2px 3px 0px #f542bc;
  box-shadow: 2px 3px 0px #f542bc; */
	font-family: Georgia;
	color: #dae0e9;
	font-size: 18px;
	padding: 9px 24px 9px 24px;
	text-decoration: none;
}

.btn:hover {
	cursor: pointer;
	background: #1b71d4;
	text-decoration: none;
	color: aqua;
}
