.MuiTableCell-root{
    text-align: justify;
    min-width: 40px;
    max-width: 40px;
    border: 1px solid black !important;
};

.MuiTableCell-body{
}

.MuiTableCell-head{
    background-color: #01182d !important;
    font-weight: 600 !important;
    font-size: medium !important;
    color: #d3d0c3 !important;
    border: 1px solid #d3d0c3 !important;
    margin-bottom: 10px !important; 
    
}

.relative{
    position: relative;
}

.border{
    border:1px solid black;
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}